header {
    margin-bottom: 16px; }
    header .branding {
      background: url("../assets/images/header-bg.jpg") no-repeat;
      background-size: cover;
      padding: 20px 0; }
      header .branding .logo {
        height: 32px; }
      header .branding .alpha {
        text-align: right;
        color: #ffffff;
        margin-right: 15px; }
      header .branding .banner-wrapper a {
        display: block; }
        header .branding .banner-wrapper a img {
          max-width: 100%; }
    header .hamburger-toggle {
      margin-top: 6px;
      padding: 8px;
      background-color: transparent;
      border: none; }
      header .hamburger-toggle:focus {
        outline: none; }
    header .hamburger {
      width: 30px;
      height: 21px;
      position: relative;
      background-color: transparent;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: 0.5s ease-in-out;
      -moz-transition: 0.5s ease-in-out;
      -o-transition: 0.5s ease-in-out;
      transition: 0.5s ease-in-out;
      cursor: pointer; }
      header .hamburger span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #fff;
        border-radius: 1px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out; }
        header .hamburger span:nth-child(1) {
          top: 0; }
        header .hamburger span:nth-child(2), header .hamburger span:nth-child(3) {
          top: 9px; }
        header .hamburger span:nth-child(4) {
          top: 18px; }
      header .hamburger.open span:nth-child(1) {
        top: 9px;
        width: 0;
        left: 50%; }
      header .hamburger.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg); }
      header .hamburger.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
      header .hamburger.open span:nth-child(4) {
        top: 9px;
        width: 0%;
        left: 50%; }
    header .nav-container {
      background-color: #FCC343; }
    header nav ul > li a .fa {
      margin-right: 8px; }
    header .mobile-nav {
      padding: 8px 0; }
      header .mobile-nav .mobile-menu {
        margin: 0;
        padding: 0;
        list-style-type: none; }
        header .mobile-nav .mobile-menu > li a {
          text-transform: uppercase;
          color: #000;
          display: block;
          padding: 13px 16px;
          background-color: #F4B23E;
          border-bottom: 1px solid #E8A010;
          text-align: center; }
          header .mobile-nav .mobile-menu > li a.user-info {
            background-color: transparent;
            border-color: transparent;
            cursor: default; }
        header .mobile-nav .mobile-menu > li:last-child a {
          border-bottom-width: 0; }
        header .mobile-nav .mobile-menu > li.bg-offer > a {
          border-color: #F06961;
          background-image: linear-gradient(to right, #f05463 0%, #f78459 100%); }
        header .mobile-nav .mobile-menu.mobile-menu-user {
          margin-top: 16px; }
      header .mobile-nav .mobile-search {
        margin-top: 16px;
        margin-bottom: 8px; }
        header .mobile-nav .mobile-search button {
          height: 45px;
          width: 45px;
          background-color: #ffffff;
          border: 1px solid #E8A010; }
          header .mobile-nav .mobile-search button .fa {
            font-size: 16px;
            color: #86838e; }
        header .mobile-nav .mobile-search #keyword {
          border: 1px solid #E8A010;
          border-left: none;
          padding: 12px 14px 12px 0px; }
  
  .logged-in header .mobile-nav .mobile-menu.mobile-menu-user {
    margin-top: 8px; }

    .row:before, .row:after {
        content: " ";
        display: table;
    }
    
    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
  *
  {
      box-sizing: border-box;
  }
  .ib {
    display: inline-block;
}
a {
    color: #F66A64;
    text-decoration: none;
}

a {
    background-color: transparent;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}


  
.container {
    padding-left: 8px;
    padding-right: 8px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #262629;
    background-color: #f2f4f5; }
    *:before,
    *:after {
    box-sizing: border-box;
    }

.box {
    /* box-shadow: 0 1px 2px rgba(33, 69, 104, 0.05); */
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    padding: 16px;
}
.ico {
    background: wight;
    height: 310px;/*here to chage da*/
    width: 250px;
    float: left;
    margin: 10px;
}

.container {
    width: 200px;
    height: 120px;
    font-family: "Roboto", sans-serif;
}

/* resize images */
.image {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}
.col-xs-12 {
    width: 100%; }
    .col-sm-6 {
        width: 50%; }

        .col-md-push-3 {
            left: 25%; }
    
            .ico {
                position: relative;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                border: 1px solid #e8e8e8;
                background-color: #ffffff;
                margin-bottom: 16px; }
                .ico .image {
                  position: relative; }


                  .ico-list {
  padding-bottom: 8px; }
  .ico-list .row {
    margin-left: -4px;
    margin-right: -4px; }
  .ico-list .col-xs-1, .ico-list .col-sm-1, .ico-list .col-md-1, .ico-list .col-lg-1, .ico-list .col-xs-2, .ico-list .col-sm-2, .ico-list .col-md-2, .ico-list .col-lg-2, .ico-list .col-xs-3, .ico-list .col-sm-3, .ico-list .col-md-3, .ico-list .col-lg-3, .ico-list .col-xs-4, .ico-list .col-sm-4, .ico-list .col-md-4, .ico-list .col-lg-4, .ico-list .col-xs-5, .ico-list .col-sm-5, .ico-list .col-md-5, .ico-list .col-lg-5, .ico-list .col-xs-6, .ico-list .col-sm-6, .ico-list .col-md-6, .ico-list .col-lg-6, .ico-list .col-xs-7, .ico-list .col-sm-7, .ico-list .col-md-7, .ico-list .col-lg-7, .ico-list .col-xs-8, .ico-list .col-sm-8, .ico-list .col-md-8, .ico-list .col-lg-8, .ico-list .col-xs-9, .ico-list .col-sm-9, .ico-list .col-md-9, .ico-list .col-lg-9, .ico-list .col-xs-10, .ico-list .col-sm-10, .ico-list .col-md-10, .ico-list .col-lg-10, .ico-list .col-xs-11, .ico-list .col-sm-11, .ico-list .col-md-11, .ico-list .col-lg-11, .ico-list .col-xs-12, .ico-list .col-sm-12, .ico-list .col-md-12, .ico-list .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px; }
  .ico-list .more {
    margin: 8px 0; }


    .ico .image {
        position: relative; }
        .ico .image a {
          display: block;
          border-bottom: 1px solid #e8e8e8; }
        .ico .image img {
          display: block;
          width: 100%;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px; }
        .ico .image .rating {
          border-radius: 2px;
          background-color: #f26c61;
          display: inline-block;
          color: #ffffff;
          font-size: 13px;
          line-height: 13px;
          font-weight: 700;
          padding: 5px 7px;
          position: absolute;
          bottom: -5px;
          right: 8px; }
        .ico .image .discount-wrapper {
          position: absolute;
          left: 0;
          top: 0;
          width: 80px;
          height: 80px;
          overflow: hidden;
          border-top-left-radius: 2px; }
          .ico .image .discount-wrapper .discount {
            padding: 18px 0 6px;
            position: relative;
            left: -51px;
            top: -8px;
            width: 142px;
            text-align: center;
            background-color: rgba(242, 108, 97, 0.94);
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg); }
            .ico .image .discount-wrapper .discount .discount-number {
              font-size: 15px;
              font-weight: 700;
              line-height: 1;
              color: #ffffff; }
            .ico .image .discount-wrapper .discount .discount-text {
              text-transform: uppercase;
              font-size: 9px;
              line-height: 1;
              color: #ffffff; }
        .ico .image .compare-checkbox-wrapper {
          position: absolute;
          right: 4px;
          top: 4px; }
          .ico .image .compare-checkbox-wrapper .compare-checkbox {
            position: relative;
            display: inline-block;
            box-shadow: 0 1px 2px rgba(33, 69, 104, 0.05);
            border-radius: 2px;
            border: 1px solid #e8e8e8;
            color: #f26c61; }
            .ico .image .compare-checkbox-wrapper .compare-checkbox .fa {
              opacity: 0;
              -webkit-transition: 0.25s ease-in-out;
              -moz-transition: 0.25s ease-in-out;
              -o-transition: 0.25s ease-in-out;
              transition: 0.25s ease-in-out; }
            .ico .image .compare-checkbox-wrapper .compare-checkbox.compare-checked .fa {
              opacity: 1; }
            .ico .image .compare-checkbox-wrapper .compare-checkbox:hover, .ico .image .compare-checkbox-wrapper .compare-checkbox:focus {
              color: #f26c61; }
            .ico .image .compare-checkbox-wrapper .compare-checkbox.compare-disabled {
              color: #262629;
              pointer-events: none; }
              .ico .image .compare-checkbox-wrapper .compare-checkbox.compare-disabled .fa {
                opacity: .15; }

                .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                    padding-left: 8px;
                    padding-right: 8px;
                    }



                    .love-list {
                        margin-bottom: 16px; }
            