
.container {
    padding-left: 12px;
    padding-right: 18px;
    margin-right: auto;
    margin-left: auto;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-size: 15px;
    line-height: 1.42857;
    color: #262629;
    background-color: #4599c4; }
    

.ico {
    background: wight;
    height: 550px;/*here to chage */
    width: 350px;
    float: left;
    margin: 10px;
}

.container {
    width: 200px;
    height: 120px;
    font-family: "Roboto", sans-serif;
}
button
{
  font-size: inherit;
}


.col-xs-12 {
    width: 100%; }
    .col-sm-6 {
        width: 60%; }

    
            .ico {
                position: relative;
                box-shadow: 0 5px 6px rgba(0, 0, 0, 0.1);
                border-radius: 2px;
                border: 1px solid #e8e8e8;
                background-color: #cfbbbb;
                margin-bottom: 16px; }
                .ico .image {
                  position: relative; }


                  .ico-list {
  padding-bottom: 8px; }
  .ico-list .row {
    margin-left: -4px;
    margin-right: -4px; }
  .ico-list .col-xs-1, .ico-list .col-sm-1, .ico-list .col-md-1, .ico-list .col-lg-1, .ico-list .col-xs-2, .ico-list .col-sm-2, .ico-list .col-md-2, .ico-list .col-lg-2, .ico-list .col-xs-3, .ico-list .col-sm-3, .ico-list .col-md-3, .ico-list .col-lg-3, .ico-list .col-xs-4, .ico-list .col-sm-4, .ico-list .col-md-4, .ico-list .col-lg-4, .ico-list .col-xs-5, .ico-list .col-sm-5, .ico-list .col-md-5, .ico-list .col-lg-5, .ico-list .col-xs-6, .ico-list .col-sm-6, .ico-list .col-md-6, .ico-list .col-lg-6, .ico-list .col-xs-7, .ico-list .col-sm-7, .ico-list .col-md-7, .ico-list .col-lg-7, .ico-list .col-xs-8, .ico-list .col-sm-8, .ico-list .col-md-8, .ico-list .col-lg-8, .ico-list .col-xs-9, .ico-list .col-sm-9, .ico-list .col-md-9, .ico-list .col-lg-9, .ico-list .col-xs-10, .ico-list .col-sm-10, .ico-list .col-md-10, .ico-list .col-lg-10, .ico-list .col-xs-11, .ico-list .col-sm-11, .ico-list .col-md-11, .ico-list .col-lg-11, .ico-list .col-xs-12, .ico-list .col-sm-12, .ico-list .col-md-12, .ico-list .col-lg-12 {
    padding-left: 6px;
    padding-right: 6px; }
  .ico-list .more {
    margin: 6px 0; }


    
        

                .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                    padding-left: 10px;
                    padding-right: 10px;
                    }

                   