
.container{
    width:400px;
    height:650px;
    background:rgb(140, 141, 138);
    color:#fff;
    top: 27%;
    left: 43%;
    position: absolute;
    transform: translate(-50px, -50px);
    box-sizing: border-box;
    padding: 40px 30px;
    
    }

#tn, #ts, #tp, #td, #tsu 
 {
    font-size: 18pt;
    height: 40px;
    width : 330px;
    padding: 15px;
}
#submit {
    width: 10em;  height: 2em;
}
