	#header{
				background-color: rgb(33, 114, 141);
				width:100%;
				height:100px;
                text-align: center;
            padding: 20px;
			}
		
			#main{
				float:left;
				width:100%;
				background-color: lightgray;
			}
			
			
			#main{
				min-height: 600px				
            }  
            .btn.btn-yellow {
                background-color: #fbc815;
            }
            .btn.btn-small {
                min-width: 80px;
                font-size: 12px;
                line-height: 12px;
                padding: 8px 0;
            }
            .btn.btn-buy {
                display: block;
            }
            .btn {
                white-space: nowrap;
                border-radius: 2px;
                border: none;
                text-align: center;
                color: #262629;
                font-weight: 700;
                text-transform: uppercase;
                display: inline-block;
            }
            a {
                color: #F66A64;
                text-decoration: none;
            }



            .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
                padding-left: 8px;
                padding-right: 8px;
            }

            .col-xs-12 {
                width: 100%; }
                .col-sm-6 {
                    width: 0%; }
            
                    .col-md-push-3 {
                        left: 25%; }

     *
                        {
                            box-sizing: border-box;
                        }
    body {
                            font-family: "Roboto", sans-serif;
                            font-size: 14px;
                            line-height: 1.42857;
                            color: #262629;
                            background-color: #f2f4f5; }
                            *:before,
                            *:after {
                            box-sizing: border-box;
                            }
                *:before, *:after {
                                -webkit-box-sizing: border-box;
                                -moz-box-sizing: border-box;
                                box-sizing: border-box;
                            }


.ico {
                                position: relative;
                                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                                border-radius: 2px;
                                border: 1px solid #e8e8e8;
                                background-color: #ffffff;
                                margin-bottom: 16px; }
                                

.ico {
                                   
                                    height: 300px;/*here to chage da*/
                                    width: 200px;
                                    float: left;
                                    margin: 10px;
                                }



                                .ico .ico-content {
                                    padding: 10px 10px 1px;
                                }

                                .ico-list {
                                    padding-bottom: 8px; }
                                    .ico-list .row {
                                      margin-left: -4px;
                                      margin-right: -4px; }
                                    .ico-list .col-xs-1, .ico-list .col-sm-1, .ico-list .col-md-1, .ico-list .col-lg-1, .ico-list .col-xs-2, .ico-list .col-sm-2, .ico-list .col-md-2, .ico-list .col-lg-2, .ico-list .col-xs-3, .ico-list .col-sm-3, .ico-list .col-md-3, .ico-list .col-lg-3, .ico-list .col-xs-4, .ico-list .col-sm-4, .ico-list .col-md-4, .ico-list .col-lg-4, .ico-list .col-xs-5, .ico-list .col-sm-5, .ico-list .col-md-5, .ico-list .col-lg-5, .ico-list .col-xs-6, .ico-list .col-sm-6, .ico-list .col-md-6, .ico-list .col-lg-6, .ico-list .col-xs-7, .ico-list .col-sm-7, .ico-list .col-md-7, .ico-list .col-lg-7, .ico-list .col-xs-8, .ico-list .col-sm-8, .ico-list .col-md-8, .ico-list .col-lg-8, .ico-list .col-xs-9, .ico-list .col-sm-9, .ico-list .col-md-9, .ico-list .col-lg-9, .ico-list .col-xs-10, .ico-list .col-sm-10, .ico-list .col-md-10, .ico-list .col-lg-10, .ico-list .col-xs-11, .ico-list .col-sm-11, .ico-list .col-md-11, .ico-list .col-lg-11, .ico-list .col-xs-12, .ico-list .col-sm-12, .ico-list .col-md-12, .ico-list .col-lg-12 {
                                      padding-left: 4px;
                                      padding-right: 4px; }
                                    .ico-list .more {
                                      margin: 8px 0; }

                                      .ico-list .row {
                                        margin-left: -4px;
                                        margin-right: -4px; }
                                
            
.ico .image {
    position: relative;
}
.image {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}
div {
    display: block;
}

.home .love-list {
    margin-bottom: 16px;
}
.box {
    box-shadow: 0 1px 2px rgba(33, 69, 104, 0.05);
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #fcfcfc;
    padding: 16px; }
  
  .row-box {
    box-shadow: 0 1px 2px rgba(33, 69, 104, 0.05);
    border-radius: 2px;
    border: 1px solid #e8e8e8;
    background-color: #fff; }
    .row-box.row-box-left .box {
      border-width: 0 0 0 1px; }



      .row {
        margin-left: -15px;
        margin-right: -15px; }
        .row:before, .row:after {
          content: " ";
          display: table; }
        .row:after {
          clear: both; }
      







.ico .image {
    position: relative;
    }
    .ico .image a {
      display: block;
      border-bottom: 1px solid #e8e8e8; }
    .ico .image img {
      display: block;
      width: 100%;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
    .ico .image .rating {
      border-radius: 2px;
      background-color: #f26c61;
      display: inline-block;
      color: #ffffff;
      font-size: 13px;
      line-height: 13px;
      font-weight: 700;
      padding: 5px 7px;
      position: absolute;
      bottom: -5px;
      right: 8px; }
    .ico .image .discount-wrapper {
      position: absolute;
      left: 0;
      top: 0;
      width: 80px;
      height: 80px;
      overflow: hidden;
      border-top-left-radius: 2px; }
      .ico .image .discount-wrapper .discount {
        padding: 18px 0 6px;
        position: relative;
        left: -51px;
        top: -8px;
        width: 142px;
        text-align: center;
        background-color: rgba(242, 108, 97, 0.94);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg); }
        .ico .image .discount-wrapper .discount .discount-number {
          font-size: 15px;
          font-weight: 700;
          line-height: 1;
          color: #ffffff; }
        .ico .image .discount-wrapper .discount .discount-text {
          text-transform: uppercase;
          font-size: 9px;
          line-height: 1;
          color: #ffffff; }
    .ico .image .compare-checkbox-wrapper {
      position: absolute;
      right: 4px;
      top: 4px; }
      .ico .image .compare-checkbox-wrapper .compare-checkbox {
        position: relative;
        display: inline-block;
        box-shadow: 0 1px 2px rgba(33, 69, 104, 0.05);
        border-radius: 2px;
        border: 1px solid #e8e8e8;
        color: #f26c61; }
        .ico .image .compare-checkbox-wrapper .compare-checkbox .fa {
          opacity: 0;
          -webkit-transition: 0.25s ease-in-out;
          -moz-transition: 0.25s ease-in-out;
          -o-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out; }
        .ico .image .compare-checkbox-wrapper .compare-checkbox.compare-checked .fa {
          opacity: 1; }
        .ico .image .compare-checkbox-wrapper .compare-checkbox:hover, .ico .image .compare-checkbox-wrapper .compare-checkbox:focus {
          color: #f26c61; }
        .ico .image .compare-checkbox-wrapper .compare-checkbox.compare-disabled {
          color: #262629;
          pointer-events: none; }
          .ico .image .compare-checkbox-wrapper .compare-checkbox.compare-disabled .fa {
            opacity: .15; }

                